<% if @categoria.disponible==true %>
<p id="notice"><%= notice %></p>
<p>
  <strong>Categoria:</strong>
  <%= @categoria.nombre %>
</p>

  <p><strong>Productos:</strong></p>
  
<head>
<style>
table, td {
    padding: 5px;
}
</style>
</head>

<table style="width:100%">
 <tr>
  	<th>Imagen</th>
	<th>Nombre</th>
	<th>Descripcion</th>
	<th>Vencimiento</th>
  </tr>
  <%@categoria.productos.order(:id).each do |productos|%>
    <% if productos.disponible==true %>
    <tr>
	  <td><%= image_tag(productos.prourl, size: "80") %></td>
	  <td><%=productos.nombre%></td>
	  <td><%=link_to 'Detalles', productos%></td>
	  <td><%=productos.vencimiento%></td>
	</tr>
	<% end %>
  <%end%>
</table>


<% if logged_in? and current_usuario.admin? %>
<%= link_to "Eliminar categoria", categorium_path(@categoria.id), :method => :delete , data: { confirm: "Esta seguro de eliminar la categoria?" }%><br>
<%end%>

<%= link_to 'Atras', categoria_path %>
<% else %>
<strong>Direccion no disponible</strong>
<% end %>