<style>
.error{
  position: absolute;
    left: 10px;
  font-size: 100%;
    border: 5px solid #a1a1a1;
    padding: 5px 80px; 
    background: #FF3030;
    width: 450px;
    border-radius: 15px;

}
.ventanaBorder{
  font-size: 85%;
    margin-left:auto;
    margin-right:auto;
    border: 10px solid #a1a1a1;
    padding: 0px 50px; 
    background: #B8B8B8;
    width: 330px;
    border-radius: 15px;
}
</style>

<div class="ventanaBorder"> 
  
<% provide(:title, "Iniciar Sesion") %>
<h1>Iniciar Sesion</h1>

<% if flash[:danger] %>  
  <div class="error">
    <h2><font color="white"> Inicio de sesion fallido. </font></h2>
    <h4><font color="white"><div class="danger"><%= flash[:danger] %></div></font></h4>
  </div>
<%end%>  
<%= form_for(:session, url: login_path) do |f| %>
 <div class="field">
      <%= f.label :dni %><br>
      <%= f.text_field :dni, :required =>"required"%>
  </div>
 <div class="field">
      <%= f.label :password, "Contraseña"%><br>
      <%= f.password_field :password,  :required =>"required" %>
  </div>
  <div class="action">
      <%= f.label :remember_me, class: "checkbox inline" do %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.check_box :remember_me %>
      <span>Recordarme</span>
      <% end %>
  </div>
  <div class="actions">
   <%= f.submit "Iniciar Sesion", class: "btn btn-primary" %>
   <% end %>

    <p>¿Usuario nuevo? <%= link_to "Registrese!", new_usuario_path %></p>
  </div>
</div>