<%= form_for (@usuario) do |t| %>
<%if @usuario.errors.any? %>
<div id="error_explanation">
    <h2><font color="red"> El usuario no puede ser guardado:</font></h2>
><ul>
<% @usuario.errors.full_messages.each do |m| %>
<li><%= m%></li>
<%end%>
</ul>
</div>
<%end%>
  <div class="row">
  <div class="col-md-6 col-md-offser-3">
    
    <div class="field">
    <%= t.label :url, "* URL de foto de perfil " %><br>
    <%= t.text_field :url, :required => "required"%>
	</div>
	
	<div class="field">
    <%= t.label :nombre, "* Nombre"%><br>
    <%= t.text_field :nombre, :required => "required"%>
	</div>
  
    <div class="field">
    <%= t.label :dni, "* Dni" %><br>
	<% if logged_in? %>
	<%= t.number_field :dni, :disabled=>true, :required => "required" %>
	<% else %>
    <%= t.number_field :dni, :required => "required", :placeholder => "6 a 8 digitos" %>
	<% end %>
	</div>

	<div class="field">
    <%= t.label :email, "* Email" %><br>
    <%= t.email_field :email , :required => "required", :placeholder => "alguien@ejemplo.com"%>
	</div>

	<div class="field">
    <%= t.label :tarjeta, "* Tarjeta" %><br>
    <%= t.number_field :tarjeta, :required => "required", :size => "1",:placeholder => "16 numeros"%>
	</div>
  
    <div class="field">
    <%= t.label :password, "* Contraseña" %><br>
    <%= t.password_field :password, :required => "required",:placeholder => "Minimo 7 caracteres"%>
	</div>
	
    <div class="field">
	<%= t.label :password_confirmation, "* Confirmacion de contraseña" %><br>
    <%= t.password_field :password_confirmation, :required => "required", :placeholder => "Confirme su contraseña"%>
	</br>
    <%= "* Campos obligatorios" %>
    </div>
	</br>

    <div class="actions">
    <% if logged_in? %>
	<%= t.submit "Actualizar", class: "btn btn-primary" %>
	<% else %>
    <%= t.submit "Registrarse", class: "btn btn-primary" %>
	<% end %>

	</div>
<% end %>
  </div>
</div>