<p> Gracias <%= @usuario.nombre %> por introducir tu perfil en Bestnid.
<br> Estos son tus datos personales: </br>
</p>

</br> </br>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @usuario.dni %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Tarjeta:</strong>
  <%= @usuario.tarjeta %>
</p>

<p>
  <strong>Contraseña:</strong>
  <%= @usuario.contrasenia %>
</p>