<% if flash[:success] %>
    <h4><font color="blue"><div class="success"><%= flash[:success] %></div></font></h4>
<% end %>
<p>
<h3> Sus datos:</h3>
</p>
<br> <strong>Foto:</strong> </br>
<p>
	  <td><%= image_tag(@usuario.url, size: "100") %></td>
</p>
<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @usuario.dni %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Tarjeta:</strong>
  <%= @usuario.tarjeta %>
</p>

<p>
  <%= link_to "Editar", controller: "usuarios", action: "edit", id: @usuario.id %>
</p>
<%= link_to 'Atras', root_path %>