<% if @producto.disponible==true %>
<p id="notice"><%= notice %></p>
<p>
  <%= image_tag(@producto.prourl, size: "200") %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @producto.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>

<p>
  <strong>Vencimiento:</strong>
  <%= @producto.vencimiento %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= link_to @producto.categoria.nombre, controller: "categoria", action: "show", id: @producto.categoria.id %>
</p>

<p>
  <% if logged_in? and (not current_usuario.admin) and (current_usuario != @producto.usuario) and not Oferta.exists?(:usuario_id => current_usuario.id, :producto_id => @producto.id)%>
  <%= link_to "Ofertar", new_ofertum_path(@producto.id) %>
  <% end %>
</p>
<%= link_to "Eliminar producto", @producto_id, :method => :delete , data: { confirm: "Esta seguro de eliminar el producto?" }%><br>
</p>

<%= link_to 'Atras', productos_path %>

<% else %>
<strong>Direccion no disponible</strong>
<% end %>
