<style>

.error{
	position: absolute;
    left: 10px;
	font-size: 100%;
    border: 5px solid #a1a1a1;
    padding: 5px 80px; 
    background: #FF3030;
    width: 450px;
    border-radius: 15px;

}
   
p.oblique {
    font-style: oblique;
}

.ventanaBorder {
	font-size: 85%;
    margin-left:auto;
    margin-right:auto;
    border: 10px solid #a1a1a1;
    padding: 0px 50px; 
    background: #B8B8B8;
    width: 300px;
    border-radius: 15px;
}
</style>

<div class="ventanaBorder">
<%= form_for @producto do |f| %>

  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><font color="red"> El producto no puede ser guardado:</font></h2>

      <ul>
      <% @producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url, "*URL de la foto del producto" %><br>
    <%= f.text_field :prourl, :required => "required"%>

  </div>
  <div class="field">
    <%= f.label :nombre, "*Nombre" %><br>
    <%= f.text_field :nombre, :required => "required"%>
  </div>
  <div class="field">
    <%= f.label :descripcion, "*Descripcion" %><br>
    <%= f.text_area :descripcion, :required => "required"%>
  </div>
  <div class="field">
    <%= f.label :vencimiento, "No puede editarse el vencimiento" %><br>
    <%= f.date_field :vencimiento, :required => "required", disabled:"disabled"%> 
  </div>
  <div class="field">
  <%= f.label :categoria_id, "*Categoria" %><br>
  <%= f.select :categoria_id, Categoria.all.collect { |p| [ p.nombre, p.id ]} %>
 <br><br><%="* Campos obligatorios"%>
  </div>
  
  <div class="actions">
  <%= f.submit "Actualizar producto", class: "btn btn-primary" %>
  </div>
  
<% end %>
</div>