<style>
/*** Estilo de la tabla **/

.table-fill {
  background: white;
  border-radius:5px;
  border-collapse: collapse;
  height: 120px;
  margin: auto;
  max-width: 100px;
  padding:5px;
  width: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#778899;
  background:#1b1e24;  /*color encabezado*/
  border-bottom:5px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;  /*color letra dentro de tabla*/
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#C8C8DA; /*color cuando el mouse encima*/
  color:#FFFFFF; /*fondo color de letras tabla*/
  border-top: 3px solid #22262e;
  border-bottom: 3px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EFEFFF;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #000000;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

</style>





<table class="table-fill">
  <thead>
   <tr>
      <th class="text-center">Imagen</th>
      <th class="text-center">Nombre</th>
      <th class="text-center">Descripcion</th>
      <th class="text-center">Vencimiento</th>
      <th class="text-center">Categoria</th>
    
   </tr>
  </thead>
  
  <tbody class="table-hover">
    <% if @producto.disponible==true %>

      <td class="text-center"><%= image_tag(@producto.prourl, size: "100")%></td>
      <td class="text-center"><%= @producto.nombre %></td>
     <td class="text-center"><%= @producto.descripcion %></td>
     <td class="text-center"><%= @producto.vencimiento %></td>
     <td class="text-center"><%= link_to @producto.categoria.nombre, controller: "categoria", action: "show", id: @producto.categoria.id %></td>
	 <% if @producto.ofertas.count == 0 and @producto.vencimiento>DateTime.now.to_date and (@producto.usuario == current_usuario) and logged_in? and ((not current_usuario.admin)) %>
     <td> <%= link_to "Editar", edit_producto_path(@producto.id)%> </td>
	 <%end%>
  </tbody>
</table>

<p>
  <% if @producto.vencimiento>DateTime.now.to_date and logged_in? and (not current_usuario.admin) and (current_usuario != @producto.usuario) and not Oferta.exists?(:usuario_id => current_usuario.id, :producto_id => @producto.id)%>
  <%= link_to "Ofertar", new_ofertum_path(@producto.id) %>
  <% end %>
</p>


<% if logged_in? and (current_usuario == @producto.usuario) and @producto.vencimiento>DateTime.now.to_date%>
     <% if @producto.ofertas.size != 0%>
         <%= link_to "Eliminar producto", @producto_id, :method => :delete , data: { confirm: "Su producto tiene ofertas. Esta seguro de eliminarlo?" }%><br>
	 <% else %>
	     <%= link_to "Eliminar producto", @producto_id, :method => :delete , data: { confirm: "Esta seguro de eliminar el producto?" }%><br>

     <% end %>
   
<% end %>

<% if logged_in? and (not current_usuario.admin) and (current_usuario == @producto.usuario) and (@producto.vencimiento <=  DateTime.now.to_date ) %>
<% if @producto.ofertagano_id == nil %>
   <h3>Elegir ganador</h3>
   </br><br>

   <table style="width:100%">
    <tr>
      <th>Motivo</th>
      <th>Elegir ganador</th>
   </tr>
  
    <%@producto.ofertas.each do |e|%>
       <tr>
        <td><%=e.motivo%></td>
        <td><%= link_to "Elegir", {"controller" => "productos", "action" => "ganador", "ofertagano_id" => e.id } %><td>    
      </tr>
    <%end%>
  </table>
<%else%>
<% @ofert= Oferta.find_by(id: @producto.ofertagano_id)%>
<h4>Eligio a <%= @ofert.usuario.nombre%> como ganador. Contactelo a <%= @ofert.usuario.email%>. Usted gano en esta subasta <%= @ofert.monto * 0.7%></h4>
<%end%>
<%end%>

</br><br>
  <%= link_to 'Atras', productos_path %>



<% else %>
<strong>Direccion no disponible</strong>
<% end %>
 


